article {
  display: grid;
}

.products {
  margin: 2em;
  display: grid;
  gap: 40px;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  grid-auto-columns: 400px;
}

.products-type {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr 1fr;
}
